[flake8]
exclude = .git,__pycache__,.flake8,requrements.txt,migrations,bin,include,lib,lib64,share

application-import-names = articles
import-order-style = google

inline-quotes = '

ignore = D100,D101,D102,D103,D104,D105
